In [5]:
import csv

import pandas as pd
from glob import glob
from tqdm import tqdm
from bs4 import BeautifulSoup
from collections import defaultdict

In [6]:
umls_file = 'data/umls_meddra_en.csv'
fh = open(umls_file)
reader = csv.reader(fh)
header = next(reader)

meddra_terms = set()
for row in reader:
    d = dict(zip(header, row))
    meddra_terms.add(d['STR'].lower())

fh.close()

In [7]:
folder = 'data/TAC2017/'

In [8]:
train_labels = glob(folder+'train_xml/*')

drug2mentions = defaultdict(set)
drug2reactions = defaultdict(set)

for label in tqdm(train_labels):
    drug_name = label.split('/')[-1].split('.')[0]
    with open(label, 'r') as f:
        soup = BeautifulSoup(f, 'xml')
    
    for mention in soup.find_all('Mention'):
        if mention['type'] == 'AdverseReaction':
          section_name = mention['section']
          mention_str = mention['str'].lower()
          drug2mentions[drug_name].add(mention_str)
    
    for reaction in soup.find_all('Reaction'):
        reaction_str = reaction['str']
        # for norm in reaction.find_all('Normalization'):
        #   try:
        #     meddra_str = norm['meddra_pt']
        #     meddra_id = norm['meddra_pt_id']
        #   except:
        #     meddra_str, meddra_id = None, None
        #   try:
        #     meddra_llt = norm['meddra_llt']
        #     meddra_llt_id = norm['meddra_llt_id']
        #   except:
        #     meddra_llt, meddra_llt_id = None, None
        # drug_label_text.append([drug_name, string, meddra_str, meddra_id, meddra_llt, meddra_llt_id])
        drug2reactions[drug_name].add(reaction_str)

len(drug2mentions), len(drug2reactions)

  0%|          | 0/101 [00:00<?, ?it/s]

100%|██████████| 101/101 [00:00<00:00, 209.58it/s]

(101, 101)

In [16]:
diffs_list = list()

for drug in drug2mentions.keys():

    setdiff = drug2mentions[drug]-drug2reactions[drug]
    diff = len(drug2mentions[drug])-len(drug2reactions[drug])
    setdiff_inmeddra = meddra_terms & drug2mentions[drug]
    diffs_list.append([drug, len(drug2mentions[drug]), len(drug2reactions[drug]), diff, len(setdiff), len(setdiff_inmeddra)])

diffs = pd.DataFrame(diffs_list, columns=['drug', 'nmentions', 'nreactions', 'diff', 'setdiff', 'nmeddraexact'])
diffs

          drug  nmentions  nreactions  diff  setdiff  nmeddraexact
0       XEOMIN         81          72     9        9            59
1      QUTENZA         45          45     0        0            37
2       ZYTIGA         68          68     0        0            45
3       TOVIAZ         46          46     0        0            33
4     STRIBILD        136         135     1        1            80
..         ...        ...         ...   ...      ...           ...
96    CARBAGLU         23          23     0        0            21
97    PROMACTA         82          82     0        0            56
98   BESIVANCE          9           9     0        0             6
99      INLYTA        116         113     3        3            85
100   NORTHERA         27          27     0        0            19

[101 rows x 6 columns]

In [17]:
diffs.query("diff != setdiff")

Empty DataFrame
Columns: [drug, nmentions, nreactions, diff, setdiff, nmeddraexact]
Index: []

In [18]:
diffs.query("diff < 0")

Empty DataFrame
Columns: [drug, nmentions, nreactions, diff, setdiff, nmeddraexact]
Index: []

In [20]:
diffs["diff"].sum(), diffs["nmeddraexact"].sum()

(344, 5071)

In [21]:
diffs.query("diff > 0")

         drug  nmentions  nreactions  diff  setdiff  nmeddraexact
0      XEOMIN         81          72     9        9            59
4    STRIBILD        136         135     1        1            80
9     PRISTIQ        148         128    20       20           104
10   TAFINLAR        158         155     3        3           114
11     MULTAQ         57          56     1        1            34
12    TANZEUM         60          54     6        6            37
13   BELEODAQ         51          50     1        1            37
14    HALAVEN         66          65     1        1            56
15    XIAFLEX         95          94     1        1            56
16     CIMZIA        172         146    26       26           110
17     GRANIX         35          26     9        9            27
19    JEVTANA         80          77     3        3            59
20     ILARIS         61          59     2        2            33
24    ARCAPTA         53          38    15       15            29
28     POTIGA        108         107     1        1            69
29       BREO         87          72    15       15            50
31     NESINA         25          24     1        1            16
32      EYLEA         30          29     1        1            21
33  TECFIDERA         41          38     3        3            22
34    TREANDA        154         149     5        5           114
36    BOSULIF        105         104     1        1            71
37    GILENYA        130         128     2        2            58
39    XALKORI         99          96     3        3            68
40  CLEVIPREX         19          17     2        2            13
44     PROLIA         92          91     1        1            49
45     FANAPT        214         196    18       18           163
48       ONFI         63          62     1        1            52
49   COMETRIQ        111         105     6        6            70
50    NULOJIX        118         116     2        2            72
51   GILOTRIF         80          79     1        1            58
54     APTIOM        102          95     7        7            67
55     DUAVEE         92          80    12       12            32
58    TIVICAY         71          62     9        9            46
61  TRULICITY         55          50     5        5            33
62    TEFLARO         38          36     2        2            28
63  JARDIANCE         69          68     1        1            44
66     YERVOY         96          92     4        4            70
67   GADAVIST         63          62     1        1            54
68     OTEZLA         35          34     1        1            31
70    FIRAZYR         11           9     2        2             8
72     XTANDI         70          68     2        2            59
73   AFINITOR        261         259     2        2           188
77  FERRIPROX         97          93     4        4            83
78    PRADAXA         72          70     2        2            40
80   HORIZANT         62          57     5        5            40
81    STENDRA         72          62    10       10            60
82   ADCETRIS         91          88     3        3            66
83    ZERBAXA         52          51     1        1            40
84    ZYDELIG         73          72     1        1            57
85    SIMPONI        128         115    13       13            66
87    NATAZIA        101          74    27       27            60
89     EDARBI         48          37    11       11            22
90  IMBRUVICA         89          88     1        1            63
91    DUREZOL         58          37    21       21            30
92    ZYKADIA         92          91     1        1            64
94   ERWINAZE         41          38     3        3            25
95    SAPHRIS        216         187    29       29           134
99     INLYTA        116         113     3        3            85

In [14]:
drug = 'NATAZIA'
drug2mentions[drug]-drug2reactions[drug]

{'adverse lipid changes',
 'arterial thromboses',
 'birth defects',
 'breakthrough bleeding',
 'breast cancer',
 'cardiac anomalies',
 'cerebrovascular events',
 'cervical cancer',
 'cervical intraepithelial neoplasia',
 'cholestasis',
 'decrease glucose tolerance',
 'hemorrhagic strokes',
 'hepatic adenomas',
 'hepatocellular carcinoma',
 'increase in blood pressure',
 'limb-reduction defects',
 'liver cancers',
 'migraine',
 'myocardial infarctions',
 'pancreatitis',
 'spotting',
 'strokes',
 'teratogenic effect',
 'thromboembolic disease',
 'thrombotic strokes',
 'thyroid-binding globulin increase',
 'venous thromboembolism'}